.modal {
  width: 40rem;
  padding: var(--space-m);
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: var(--space-xs);
  justify-content: end;
  margin-top: var(--space-s);
}

.formField {
  padding-bottom: 1rem;
}

.formDateField {
  width: 50%;
  padding-bottom: 1rem;
}

.dateFieldsContainer {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
}
