.taskCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 7rem;
  margin: var(--space-2xs) var(--space-xs);
  color: #000;
  background-color: var(--color-bg-default);
  cursor: pointer;
}

.taskInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3rem;
  padding-left: 0.5rem;
}

.taskTitle {
  display: flex;
  margin: 0;
  font-weight: bold;
  text-align: left;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--space-xs);
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5rem;
}
