.taskCard {
  color: #000;
  margin: 4px 7px;
  min-height: 90px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--color-bg-default);
}

.taskID {
  display: flex;
  margin-bottom: 0.3rem;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5rem;
}
.taskTitle {
  display: flex;
  margin: 0;
  justify-content: center;
  font-weight: bold;
}
.taskDesc {
  display: flex;
  justify-content: center;
  padding-bottom: 0.3rem;
}
.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--space-xs);
}
