.container {
  width: 20rem;
  height: 85vh;
  margin: 0 var(--space-xs);
  margin-left: var(--space-xs);
  overflow-y: scroll;
  text-align: center;
  background-color: rgb(233 233 233);
  border-radius: var(--space-2xs);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.taskList {
  flex-grow: 1;
  min-height: 70vh;
  padding: var(--space-2xs);
  background-color: rgb(233 233 233);
}
