.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: var(--space-m);
}

.empty {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70vh;
}

.tasksContainer {
  width: 20%;
  margin: var(--space-s);
}

.detailsContainer {
  display: flex;
  gap: var(--space-s);
  width: 70%;
  min-height: 80vh;
  margin: var(--space-s);
  padding: var(--space-m);
}

.infoBlock {
  width: 50%;
}

.emptyDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
