.container {
  display: flex;
  justify-content: center;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 var(--space-2xl);
}

.navButtonsContainer {
  display: flex;
}
